<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="TodoApp_connectionString" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=TodoListApp;Integrated Security=True" providerName="Sql.Data.Client" />
    <add name="TodoListAppEntities" connectionString="metadata=res://*/TodoAppADOModel.csdl|res://*/TodoAppADOModel.ssdl|res://*/TodoAppADOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=TodoListApp;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>